name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      # The 'hk' command used in the "lint" task is not currently supported on Windows PowerShell.
      # See https://github.com/jdx/hk/pull/260
      - if: matrix.os != 'windows-latest'
        run: mise run lint
      - run: mise run test
