name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - if: matrix.os != 'windows-latest' # Not sure why, but the 'pkl' module in linting doesn't work on Windows.
        run: mise run lint
      - run: mise run test
